body { font-family: arial, sans-serif; }

h1 {
	font-family: Arial;
}

#storyArea, #choiceArea {
	width: 45%;
	margin-top: 10px;
    border-radius: 20px;
    padding: 1px 25px;
    font-size: 120%;
    font-family: Garamond;
}
#storyArea {
    background-color: #D7FFC7;	
    min-height: 200px;
}
#choiceArea {
    background-color: #C7EAFF;
    min-height: 50px;
}

span.chunk {
    margin-right: 0.25em;
}

#choiceArea {

}

.choice {
	background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}
.unavailableChoice {
    color: gray;
}
.unavailableChoice:hover {
    background-color: white !important;
}
.choice::before {
	content: "> ";
}
.choice:hover {
	background-color: #D7FFC7;
}

#diagnostics {
    width: 370px;
    /*height: 200px;*/
    background-color: #FFF1A5;
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    padding: 0.5em 1em;
}
.dHeader {
    font-variant: small-caps;
    text-decoration: underline;
    padding-top: 0.75em;
    font-size: 120%;
}
.firstPathStep {
    font-weight: bold;
    padding-left: 1em;
}
.pathSteps {
    margin: 0.5em;
    border: thin dotted gray;
    padding: 0.5em;
}
.pathStep {
}
.pathExpl {
    padding-left: 1em;
    font-size: 80%;
}
.wlWant {
    border: thin dotted gray;
    background-color: #F0FBE0;
    border-radius: 5px;
    padding: 0.25em 0.5em;
    margin-top: 0.75em;
    box-shadow: 1px 1px 4px #aaa;
    margin-bottom: 0.75em;
}
.blackboardEntry {
    padding: 0.25em 0.5em;
}
.bbKey {
    font-weight: bold;
}
.bbValue {
    background-color: #DDDDFF;
    border-radius: 6px;
    padding: 0.2em;
}
.matchedWant {
    border: thick solid #00981D;
    background-color: #9CF992;
}

.varClickChanger {
    background-color: #81D0FF;
    padding: 7px 13px;
    border-radius: 13px;
    width: 112px;
    margin-top: 20px;
    text-shadow: 1px 1px 1px #206086;
    color:white;
}

.varIncrease, .varDecrease {
    margin: 0px 20px;
}

/* editor styles */

#storyContainer.editor {
    display:none;
    position:fixed;
    width:40%;
    top:0px;
    right: 60px;
}

#storyContainer.editor div {
    width:100% !important;
}

#popup {
    position: absolute;
    background-color: white;
    font-size: 10px;
    font-family: Arial, sans-serif;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    display:none;
}

#popup_close {
    position: absolute;
    right: 11px;
    font-size: 18px;
    font-family: Arial;
    color: #666;
}

#storyButton {
    width:50px;
    height:50px;
    background-image:url('images/text.png');
    background-size:100%;
    top:10px;
    left:10px;
}

#instructions {
    font-family: arial;
    width: 400px;
    margin-bottom:20px;
}

#sceneSelectDiv { position:absolute; z-index:99; }

#sceneSelectDiv label {
    margin-right:10px;
}

#sceneSelectDiv select { margin-bottom:10px; }

#cyto {
    border:2px solid #ccc;
    position:absolute;
    left:0px;
    top:0px;
}